.App {
  text-align: center;
  min-height: 20vh;
  color: white;
  padding: 12px, 20px, 12px, 20px;
}

.Navbar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:tomato;
}

.Links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 20%;
}

.text {
  opacity: 0.4;
  font-style: italic;
}

.posts {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.post-title {
  color: tomato;
}

span {
  font-weight: bolder;
}

